.ant-layout-header {
    background-color: var(--bg);
    display: flex;
    align-items: center;
    justify-content: center;
}
h1.ant-typography {
    font-family: var(--font);
    color: white;
    margin: 0;
}