.listCards {
    align-items: center;
}
.cardTela {
    width: 220px;
    text-align: center;
    cursor: pointer;
}
.body {
    position: relative;
    display: inline-block;
}
.box {
    width: 170px;
}
.number {
    position: absolute;
    font-weight: 500;
    top: 45%; /* Ajusta la posición vertical */
    left: 60%; /* Ajusta la posición horizontal */
    font-size: 20px; /* Ajusta el tamaño del texto */
    padding: 10px; /* Espaciado alrededor del texto */
    transform: rotateX(30deg) rotateY(-30deg);
}