:root {
    --color-1: #FFCF69;
    --color-2: #E96559;
    --color-3: #BE2C5D;
    --color-dark: #1A0935;
    --color-dark-2: #100029;
    --color-white: #f0f2f5;
    --font: "Poppins", sans-serif;
}