.main {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.content {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 100%;
}

.son {
  position: relative;
  flex-grow: 1;
  overflow-y: auto;
  padding: 20px;
}