:root {
    --bg: #131931;
    --bg-2: #0e1122;
    --color-1: #2fb0f5;
    --color-2: #6d60dd;
    --color-3: #e04cbd;
    --color-dark: #1A0935;
    --color-dark-2: #100029;
    --color-white: #f0f2f5;
    --color-danger: #ff4040;
    --font: "Poppins", sans-serif;
}

/* Botones */
.btn-incidencia,
.btn-incidencia:hover {
    background: var(--color-1) !important;
    border: var(--color-1) !important;
    color: black !important;
    font-weight: 500 !important;
}

/* Botones Card*/
.card-update {
    background-color: var(--color-1);
    padding: 5px 0 ;
}

.card-view {
    background-color: var(--color-2);
    padding: 5px 0 ;
}

.card-delete {
    background-color: var(--color-danger);
    padding: 5px 0 ;
}

li {
    margin: 0 !important;
}

p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ant-empty-image svg ellipse {
    fill: var(--bg) !important;
}

.ant-empty-image svg path {
    stroke: white !important;
    stroke-width: 2px !important;
    fill: var(--bg) !important;
}

.ant-empty-description {
    color: white !important
}