body {
    background-color: black;
    background-image: url("/img/bg/login.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.content {
    background-color: white;
    padding: 40px 20px;
    border-radius: 10px;
    width: 350px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    text-align: center;
}

div.yeti {
    margin: 20px;
    border-radius: 50%;
    overflow: hidden;
}

.down-animation {
    animation: down 0.5s forwards;
}

.up-animation {
    animation: up 0.5s forwards;
}

.eyes {
    animation: eyes 3s infinite;
    transform-origin: center center;
}
@keyframes down {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(50px);
    }
}
@keyframes up {
    0% {
        transform: translateY(50px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes eyes {
    0%, 100% {
        ry: 0.782; /* Ojos abiertos (valor inicial de ry) */
    }
    50% {
        ry: 0.1; /* Ojos cerrados (disminuye el valor de ry) */
    }
}