.sidebar-header {
    background-color: var(--color-dark-2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
}
h4.ant-typography,
.ant-avatar {
    color: white
}
.ant-menu,
.ant-layout-sider-children,
.ant-layout-sider-zero-width-trigger{
    background: var(--color-dark) !important;
}
.ant-layout-sider-zero-width-trigger {
    top: 15px !important;
}
.ant-menu-item-group-list,
.ant-menu-item {
    background-color: var(--color-dark-2);
}