.body {
    background-color: black;
    background-image: url("/img/bg/login-4.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.content {
    background-color: #000000ef;
    backdrop-filter: blur(5px);
    padding: 40px 20px;
    border-radius: 10px;
    width: 350px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    text-align: center;
}
.title {
    color: white;
}
.label {
    color: black;
    text-align: left;
}
.input {
    color: black;
    background-color: #e6e6e6;
    border-color: #bdbdbd;
}
.input:hover,
.input:focus {
    background-color: #e6e6e6;
    border-color: #bdbdbd;
}
.input input:focus,
spam.input:focus {
    background-color: #e6e6e6;
    border-color: #bdbdbd;
}
div.yeti {
    margin: 20px;
    border-radius: 50%;
    overflow: hidden;
}

.downAnimation {
    animation: down 0.2s forwards;
}

.upAnimation {
    animation: up 0.2s forwards;
}

.eyes {
    animation: eyes 3s infinite;
    transform-origin: center center;
}

.viewPaswword {
    animation: view 0.2s forwards;
}

.noViewPassword {
    animation: noView 0.2s forwards;
}
@keyframes down {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(50px);
    }
}
@keyframes up {
    0% {
        transform: translateY(50px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes eyes {
    0%, 10% {
        ry: 0.782;
    }
    5% {
        ry: 0.1;
    }
}

@keyframes view {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(2deg);
    }
}

@keyframes noView {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(2deg);
    }
}

@media (max-width: 1390px) {
    .content {
        width: 270px;
        padding: 20px;
    }
}