.sidebarHeader {
    background-color: white;
    display: flex;
    text-transform: uppercase;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    border-radius: 20px;
}

.sidebar {
    height: 100vh;
    overflow-y: scroll;
    padding: 0;
    z-index: 10;
}
@media (max-width: 616px) {
    .sidebar {
        position: fixed;
    }
  }