
.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.title {
    font-family: var(--font);
    color: white;
    margin: 0;
}

.buttonSidebar:hover {
    background-color: black;
}
@media (max-width: 480px) {
    .title {
        display: none;
    }
}