p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.correct {
    background-color: rgb(157, 255, 189);
    /* Color de fondo para filas pares */
}

.incorrect {
    background-color: rgb(245, 255, 157);
    /* Color de fondo para filas impares */
}

.danger {
    background-color: rgb(255, 157, 157);
    /* Color de fondo para filas impares */
}

.ant-table-cell {
    padding: 10px !important;
}

/* Botones */
.btn-incidencia {
    background: #ffdf5e;
    color: black
}

.btn-incidencia:hover {
    background: #ffdf5e !important;
    color: black !important;
}

li {
    margin: 0 !important;
}

.card-update {
    background-color: rgb(255, 253, 105);
    color: black;
    padding: 5px 0 ;
}
.card-view {
    background-color: rgb(47, 72, 216);
    color: white;
    padding: 5px 0 ;
}
.card-delete {
    background-color: rgb(224, 61, 61);
    color: white;
    padding: 5px 0 ;
}

p {
    margin: 0 !important;
}
/* .ant-tabs-content-holder {
    max-width: 700px !important;
} */

.ant-card { 
    border-radius: 15px;
    overflow: hidden
}
.cardLoteIcons {
    max-width: 500px;
    margin: 20px 0 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }



  .cardLoteIcon {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: white; /* Opcional para asegurarse de que los hijos no se superpongan con la línea */
    padding: 5px;
    border: 1px solid black;
    border-radius: 50%;
    z-index: 1; /* Coloca los hijos por encima de la línea */
  }

  .cardSvgLote {
    width: 25px;
  }

  .loteIcons {
    margin: auto;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }

  .loteIcon {
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: white; /* Opcional para asegurarse de que los hijos no se superpongan con la línea */
    padding: 5px;
    border: 1px solid black;
    border-radius: 50%;
    z-index: 1; /* Coloca los hijos por encima de la línea */
  }

  .svgLote {
    width: 40px;
  }


  .cardLoteIcons::before,
  .loteIcons::before {
    content: "";
    position: absolute;
    top: 50%; /* Centra la línea verticalmente */
    left: 0;
    right: 0;
    height: 2px; /* Grosor de la línea */
    background-color: gray; /* Color de la línea */
    z-index: 0; /* Coloca la línea detrás de los hijos */
  }
.status {
    background-color: #56f856;
    width: 100%;
    padding: 40px;
    border: black solid 4px;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}
  .status img {
    padding: 20px;
    width: 200px;
}