.body {
    background-color: var(--bg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
input::-ms-reveal,
input::-ms-clear {
  display: none;
}
.content {
    background-color: var(--bg-2);
    backdrop-filter: blur(5px);
    padding: 40px 20px;
    border-radius: 10px;
    width: 350px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    text-align: center;
}
.title {
    color: white;
    margin: 10px 0 0 0;
    font-size: 2rem;
}
.upper {
    color: var(--color-1);
}
.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.formGroup {
    display: flex;
    flex-direction: column;
}

.label {
    color: white;
    text-align: left;
}
.input {
    color: black;
    width: 100%;
    padding: 10px;
    background-color: #e6e6e6;
    border-color: #bdbdbd;
    box-sizing: border-box;
    outline: none;

}
.input:hover,
.input:focus {
    background-color: #e6e6e6;
    border-color: #bdbdbd;
}
.input input:focus,
spam.input:focus {
    background-color: #e6e6e6;
    border-color: #bdbdbd;
}

.passwordWrapper {
    display: flex;
    width: 100%;
}

.submitButton {
    background-color: var(--color-1);
    padding: 10px;
    outline: none;
    border: none;
}

div.yeti {
    margin: 20px;
    border-radius: 50%;
    overflow: hidden;
}

.downAnimation {
    animation: down 0.2s forwards;
}

.upAnimation {
    animation: up 0.2s forwards;
}

.eyes {
    animation: eyes 3s infinite;
    transform-origin: center center;
}

.viewPaswword {
    animation: view 0.2s forwards;
}

.noViewPassword {
    animation: noView 0.2s forwards;
}
@keyframes down {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(50px);
    }
}
@keyframes up {
    0% {
        transform: translateY(50px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes eyes {
    0%, 10% {
        ry: 0.782;
    }
    5% {
        ry: 0.1;
    }
}

@keyframes view {
    0% {
      transform: translateY(0) translateY(0) rotate(0deg);
    }
    100% {
      transform: translateX(15px) translateY(-8px) rotate(10deg);
    }
  }
  
  @keyframes noView {
    0% {
      transform: translateX(15px) translateY(-8px) rotate(10deg);
    }
    100% {
      transform: translateY(0) translateY(0) rotate(0deg);
    }
  }
  


@media (max-width: 1390px) {
    .content {
        width: 270px;
        padding: 20px;
    }
}